*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
.header > h1 {
  color: #fff;
}

.header > p {
  color: #fff;
}
.header {
  text-align: center;
  padding: 25px;
  background-color: wheat;
}

.row {
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}
.column {
  flex: 25%;
}

.column img {
  padding: 4px;
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
