@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /* Paragraphs */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons)*/
  --Very-light-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background: #f2f2f2;
}

img {
  position: absolute;
  margin-left: 2.75em;
  margin-top: 1.25em;
}
p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: var(--Transparent-white);
  padding-right: 47.5px;
  line-height: 1.6;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: var(--Very-light-gray);
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  border: 2px solid black;
  text-decoration: none;
  font-family: 'Big Shoulders Display', cursive;
  color: var(--Very-light-gray);
  padding: 1em 2.2em;
  border-radius: 100px;
  background-color: grey;
  /* margin-top: 100px; */
  position: static;
  cursor: pointer;
}
.sedans {
  background-color: var(--Bright-orange);
  height: 50vh;
  border-radius: 8px 8px 0px 0px;
  padding-top: 50px;
  padding-left: 39px;
}

.suvs {
  background-color: var(--Dark-cyan);
  height: 50vh;
  border-radius: 8px 8px 0px 0px;
  padding-top: 50px;
  padding-left: 39px;
  /* margin-top: ; */
}

.luxury {
  background-color: var(--Very-dark-cyan);
  height: 50vh;
  border-radius: 8px 8px 0px 0px;
  padding-top: 50px;
  padding-left: 39px;
}

.container {
  width: 80%;
  max-width: 920px;
  margin: 0 auto;
  margin-top: 171px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 33%;
}

.attribution {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 992px) {
  .luxury {
    border-bottom-right-radius: 8px;
  }
  .sedans {
    border-bottom-left-radius: 8px;
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
    }
    .sedans {
      height: 442px;
    }
    .suvs {
      height: 442px;
    }
    .luxury {
      height: 442px;
    }
  }
}
