@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /* Paragraphs color */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons)*/
  --Very-light-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background: var(--Very-light-gray);
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: var(--Transparent-white);
  padding-right: 47.5px;
  line-height: 1.6;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: var(--Very-light-gray);
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  font-family: 'Big Shoulders Display', cursive;
  color: var(--Very-light-gray);
  padding: 0.75em 2.75em;
  border-radius: 100px;
  bottom: 20px;
  left: 35px;
  position: absolute;
  cursor: pointer;
  border: 2px solid transparent;
}

.btn-sedans {
  color: var(--Bright-orange);
}
.btn-sedans:hover {
  border: 2px solid white;
  color: #fff;
  background-color: var(--Bright-orange);
  transition: all 0.2s;
}
#sedans {
  background-color: var(--Bright-orange);
  min-height: 500px;
}

.btn-suvs {
  color: var(--Dark-cyan);
}

.btn-suvs:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: var(--Dark-cyan);
  transition: all 0.2s;
}

#suvs {
  background-color: var(--Dark-cyan);
  min-height: 500px;
}

.btn-luxury {
  color: var(--Very-dark-cyan);
}

.btn-luxury:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: var(--Very-dark-cyan);
  transition: all 0.2s;
}

#luxury {
  background-color: var(--Very-dark-cyan);
  min-height: 500px;
}

.container {
  width: 80%;
  max-width: 920px;
  margin: 0 auto;
  margin-top: 150px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 33%;
  position: relative;
  border-radius: 8px 8px 0px 0px;
  padding: 70px 30px;
  min-height: 600px;
}

.attribution {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 992px) {
  #luxury {
    border-bottom-right-radius: 8px;
  }
  #sedans {
    border-bottom-left-radius: 8px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    min-height: 450px;
  }

  #luxury {
    border-radius: 0px 0px 8px 8px;
  }
  #suvs {
    border-radius: 0px;
  }
}
