/* Default CSS Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Feel free to remove these styles or customise in your own stylesheet  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: 'Red Hat Display', sans-serif;
}

p {
  font-size: 16px;
}
