:root {
  /* Primary Colours */
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colours */
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);

  --attribution-blue: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
}
/* Feel free to remove these styles or customise in your own stylesheet  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--attribution-blue);
}
