:root {
  /* Primary Colours */
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colours */
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);

  --attribution-blue: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  max-width: 100vw;
  text-align: center;
  background-color: var(--primary-pale-blue);
  background-image: url('../images/pattern-background-mobile.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.125rem;
  font-weight: 900;
  color: var(--neutral-dark-blue);
  margin-top: 1.825rem;
  margin-bottom: -0.125rem;
  text-align: center;
}
img {
  width: 100%;
  height: 10.125rem;
  background-size: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

span {
  margin: 10px 70px;
}

button {
  font-family: 'Red Hat Display', sans-serif;
}

article > img {
  width: 20%;
  height: auto;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--neutral-desaturated-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--attribution-blue);
}

.btn {
  background-color: var(--primary-bright-blue);
  color: white;
  margin: 10px 60px;
}

/* .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.75rem;
} */

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-change {
  background-color: transparent;
  color: var(--primary-bright-blue);
  text-decoration: underline;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-bright-blue);
  color: #fff;
  padding: 10px;
}

.btn-primary:hover,
.btn-change:hover {
  opacity: 0.8;
}
.btn-secondary {
  background-color: transparent;
  color: var(--neutral-desaturated-blue);
}

.btn-secondary:hover {
  color: var(--neutral-dark-blue);
}
.container {
  background-color: #fff;
  margin: 20px;
  border-radius: 0.75rem;
  box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
}

.container .pricing {
  margin: 30px auto;
  padding: 10px;
  background-color: var(--neutral-very-pale-blue);
  width: 90%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .pricing article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pricing article img {
  margin-right: 10px;
}

.container .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container p.description {
  padding: 0 30px;
}

@media (min-width: 768px) {
  .bg__image {
    background: url('../images/pattern-background-desktop.svg') no-repeat
      center/cover;
    max-height: 50vh;
  }

  .container {
    width: 500px;
  }
}
