:root {
  /* Primary */
  --linear-gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  /* Neutral */

  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

h1 {
  text-align: center;
  color: var(--grayish-blue);
}

span {
  color: var(--grayish-blue);
}

/* #white_heading {
  color: var(--very-light-grayish-blue);
} */
.button {
  text-transform: uppercase;
  border-radius: 5px;
}

.button_gradient {
  background: var(--linear-gradient);
  color: var(--very-light-grayish-blue);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button_white {
  background: var(--very-light-grayish-blue);
  color: var(--linear-gradient);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.container {
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--linear-gradient);
  transition: 0.6s ease transform;
  /* 0.6s box-shadow;
    box-shadow: 2px 6px 20px #1e2321;
    transform: translate(0px, 0px); */
}
.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--very-light-grayish-blue);
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--linear-gradient);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 2.4em;
  height: 100%;
  background: var(--linear-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: var(--grayish-blue);
}

.professional {
}
.packages__outter__colour {
  background: var(--very-light-grayish-blue);
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid var(--grayish-blue);
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

/* input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
} */

/* label {
  cursor: pointer;
  text-indent: -9999px;
  width: 200px;
  height: 100px;
  background: blue;
  display: block;
  border-radius: 100px;
  position: relative;
} */

/* label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
} */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
